html,
body {
  font-family: roboto, sans-serif;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

nav {
  background-color: black;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  flex-wrap: nowrap;
}

.brand {
  align-self: center;
  font-weight: bold;
  font-size: large;
}

.nav-link {
  color: rgba(255, 255, 255, 0.712);
}

.nav-link ul {
  list-style: none;
  display: flex;
  gap: 15px;
}
.nav-link ul li a {
  display: none;
  font-size: 12px;
  color: white;
  text-decoration: none;
}

.nav-link ul li i {
  margin-right: 5px;
}

.nav-link .active a {
  display: inline;
}

.active {
  color: white;
}

.profile {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile i {
  margin-left: 30px;
}

.profile .username {
  font-size: 14px;
  font-weight: 600;
}

.profile .email {
  font-size: 12px;
}

.img-profile {
  display: inline;
  width: 40px;
  border-radius: 100%;
}

.container {
  margin: auto;
  width: 90%;
}

main {
  display: flex;
}

.content {
  background-color: rgba(0, 0, 0, 0.03);
  flex: 3;
  min-height: 100vh;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.form-search {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);

  padding: 10px;
  border-radius: 20px;
}

.form-search input {
  border: none;
  background: none;
  margin-left: 10px;
}

.form-search input:focus {
  border: none;
  background: none;
  box-shadow: none;
  outline: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  flex: 0 0 30%;
  background-color: white;
  border-radius: 30px;
  overflow: hidden;

  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); */
}

.card-body {
  padding: 20px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.date h2 {
  font-weight: 300;
  font-size: 24px;
}

.date p {
  font-weight: 300;
  font-size: 16px;
}

.name h2 {
  font-weight: 300;
}
.name p {
  font-weight: 300;
  font-size: small;
}

.card-footer {
  padding: 10px 20px 20px 20px;
  background-color: aquamarine;
}

.card-footer .subtitle {
  color: grey;
  font-size: 11px;
}
aside {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.05);
}

.leaderboard-head {
}

.leaderboard-head h1 {
  margin-top: 2rem;
  text-align: center;
  font-weight: 300;
}
